.map-section {
    display: flex;
    width: 100%;
    margin: auto;
    margin: 20px;
}

.map-container {
    height: 700px;
    width: 100%;
    margin: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.1);
}
